
.eighth {
    background: url(../img/eighth/background.png) center center / cover no-repeat;
}

.eighth__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $green;

    &>h2 {
        margin: rem(0px);
        font-size: rem(48px);
        text-transform: uppercase;
        line-height: 1;
        margin-bottom: rem(54px);
    }
}

.form {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
}

.personal-information {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: flex-start;
    width: rem(490px);
    margin-right: rem(20px);
}

.cell {

    &__1 {
        flex-basis: rem(225px);
        margin-bottom: rem(20px);
    }

    &__2 {
        flex-basis: rem(490px);
        margin-bottom: rem(20px);
    }

    &__3 {
        flex-basis: rem(100px);
    }

    &__name {
        margin-bottom: rem(8px);
    }

    &__input {
        height: rem(59px);
        width: 100%;
        background: $white;
        padding: rem(10px) rem(10px);
        outline: none;
        border: rem(1px) solid transparent;
        color: $green;
        font-size: rem(16px);
        box-sizing: border-box;
        text-align: center;
    }

    &__comment {
        margin-bottom: rem(27px);
    }


    &__input--comment {
        height: rem(180px);
        resize: none;
        text-align: left;
    }
}

.cell__input:focus {
    border-color: $green;
}

.comments {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    width: rem(430px);

    &__checkbox {
        height: rem(59px);
        display: flex;
        flex-flow: row wrap;
        width: 100%;
        margin-bottom: rem(40px);
    }

}

.checkbox {
    display: flex;
    align-items: center;
    margin-right: rem(32px);

    &:nth-child(3) {
        margin-right: rem(0px);
    }
}

.button__submit {
    outline: none;
    margin-right: rem(29px);
    width: rem(156px);
    height: rem(58px);
    background: $green;
    border: rem(1px);
    border-radius: rem(50px);
    font-size: rem(18px);
    color: $white;
    text-transform: uppercase;
    font-weight: bold;
    box-shadow: rem(0px) rem(3px) rem(0px) rgba(0, 0, 0, 0.1);

    &:hover {
        cursor: pointer;
    }

    &:focus {
        background: $white;
        color: $green;
    }
}

.button__reset {
    font-size: rem(18px);
    color: $green;
    border: none;
    outline: none;
    background-color: transparent;

    &:hover {
        cursor: pointer;
    }
}

.checkbox__circle {
    width: rem(25px);
    height: rem(25px);
    border-radius: 50%;
    margin-right: rem(10px);
    background: $white;
    display: flex;
    align-items: center;
    justify-content: center;

    &:before {
        content: "";
        width: rem(13px);
        height: rem(13px);
        border-radius: 50%;
        background: $green;
        opacity:0;

    }
}

.checkbox__choice {
    opacity: 0;

    &:checked~.checkbox__circle:before {
        opacity: 1;
    }

    &:checked:checked+.checkbox__square>.mark{
        opacity: 1;
    }
}

.checkbox__square {
    width: rem(25px);
    height: rem(25px);
    background: $white;
    margin-right: rem(10px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.mark{
    opacity: 0;
}

