.eighth {
    background: url(../img/eighth/background.png) center center / cover no-repeat;

    @include tablets {
        padding: 10%;
    }

    @include mobile {
        padding: 10%;
    }
}

.eighth__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $green;

    &>h2 {
        margin: 0%;
        font-size: rem(48px);
        text-transform: uppercase;
        line-height: 1;
        margin-bottom: 4%;
        text-align: center;
        white-space: nowrap;
        z-index: 1;

        @include tablets {
            margin-bottom: 10%;
        }

        @include mobile {
            margin-bottom: 10%;
            font-size: rem(35px);
        }
    }
}

.form {
    display: flex;
    justify-content: space-between;
    font-size: 18px;


    @include tablets {
        flex-direction: column;
    }

    @include mobile {
        flex-direction: column;
    }
}

.personal-information {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: flex-start;
    width: 49%;

    @include tablets {
        margin-right: 0%;
        width: 100%;
        margin-bottom: 5%;
    }

    @include mobile {
        margin-right: 0%;
        width: 100%;
        margin-bottom: 5%;
    }

}

.cell {

    &__1 {
        flex-basis: 49%;
        margin-bottom: 5%;
    }

    &__2 {
        flex-basis: 100%;
        margin-bottom: 5%;
    }

    &__3 {
        flex-basis: 22%;
    }

    &__input {
        height: rem(59px);
        width: 100%;
        background: $white;
        padding: 3% 3%;
        outline: none;
        border: rem(1px) solid transparent;
        color: $green;
        font-size: rem(16px);
        box-sizing: border-box;
        text-align: center;
    }

    &__comment {
        margin-bottom: 3%;
        width: 100%;
    }


    &__input--comment {
        height: rem(180px);
        resize: none;
        text-align: left;
    }
}

.cell__input:focus {
    border-color: $green;
}

.comments {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 49%;

    @include tablets {
        width: 100%;
    }

    @include mobile {
        width: 100%;
    }


    &__checkbox {
        display: flex;
        flex-flow: row wrap;
        width: 100%;
        margin-bottom: 13%;

        @include tablets {
            justify-content: center;
        }

        @include mobile {
            justify-content: center;
        }
    }

}

.checkbox {
    display: flex;
    align-items: center;
    margin-bottom: 2%;

    &:nth-child(3) {
        margin-right: 0%;
    }
    @include tablets {
       margin-bottom: 4%;
    }

    @include mobile {
        margin-bottom: 4%;
    }
}

.button__submit {
    outline: none;
    margin-right: 10%;
    width: rem(156px);
    height: rem(58px);
    background: $green;
    border: rem(1px);
    border-radius: rem(50px);
    font-size: rem(18px);
    color: $white;
    text-transform: uppercase;
    font-weight: bold;
    box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);

    &:hover {
        cursor: pointer;
    }

    &:focus {
        background: $white;
        color: $green;
    }
}

.button__reset {
    font-size: rem(18px);
    color: $green;
    border: none;
    outline: none;
    background-color: transparent;

    &:hover {
        cursor: pointer;
    }
}

.checkbox__circle {
    width: rem(25px);
    height: rem(25px);
    border-radius: 50%;
    margin-right: rem(10px);
    background: $white;
    display: flex;
    align-items: center;
    justify-content: center;

    &:before {
        content: "";
        width: rem(13px);
        height: rem(13px);
        border-radius: 50%;
        background: $green;
        opacity: 0;

    }
}

.checkbox__choice {
    opacity: 0;

    &:checked~.checkbox__circle:before {
        opacity: 1;
    }

    &:checked:checked+.checkbox__square>.mark {
        opacity: 1;
    }
}

.checkbox__square {
    width: rem(25px);
    height: rem(25px);
    background: $white;
    margin-right: rem(10px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.mark {
    opacity: 0;
    width: 15px;
    height: 13px;
}


.buttons {
    @include tablets {
        display: flex;
        justify-content: center;
    }

    @include mobile {
        display: flex;
        justify-content: center;
    }

}