
.fifth {
    @include size;
    background: url(../img/fifth/background.png) center center / cover no-repeat;
    color: $white;
    position: relative;

    &:before {
        content: url(../img/fifth/rastberry.png);
        position: absolute;
        top: rem(-58px);
        left: rem(30px);
    }
}

.fifth__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
 
    &>h2 {
        font-size: rem(48px);
        text-transform: uppercase;
        text-align: left;
        margin: rem(0px);
    }
}

.bars-type {
    list-style-type: none;
    margin: rem(0px);
    padding-left: rem(0px);
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;

    &__item>h3 {
        font-size: rem(48px);
        margin: rem(0px);
        transform: rotate(180deg);
        writing-mode: vertical-lr;
        text-align: center;
        width: rem(100px);
        line-height: 2;
    }

    &__item>p {
        overflow: hidden;
        width: 0;
        font-size: rem(16px);
        margin: rem(0px);
        width: rem(0px);
        // width: rem(370px);
        // padding: rem(50px) rem(100px) 0 rem(27px);
    }
}

.bars-type__item {
    background-color: rgba($black, .6);
    display: flex;
    justify-content: flex-end;

    &--one>h3 {
        background: url(../img/fifth/kokosovoe-maslo-dlya-zdorovya-i-krasoty_копия.png) center center / cover no-repeat;
     }

    &--two>h3{
        background: url(../img/fifth/Granola-Bars-with-calamondin.png) center center / cover no-repeat;
    }

     &--three>h3{
        background: url(../img/fifth/shutterstock_684121381.png) center center / cover no-repeat;
     }
}

