
.first {
    background-color: $blue;
    background-image: url(../img/first/background.png);
    background-repeat: no-repeat;
    background-position: right center;
    @include size;
    position: relative;
    padding-bottom: 5%;

    &:after {
        content: url(../img/first/background2.png);
        position: absolute;
        bottom: -8%;
        right: 0%;
        @include tablets {
           bottom: 43%;
        }
        @include mobile {
            bottom: 43%;
        }   
    }

    &:before {
        content: url(../img/first/background3.png);
        position: absolute;
        bottom: -8%;
        left: 0%;
        @include tablets {
            bottom: 42%;
            left: 5%;
         }
        @include mobile {
             bottom: 42%;
             left: 5%;

         }
        
    }

    &__container {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: stretch;
    }
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
}

.logo {
    width: rem(69px);
    font-size: rem(24px);
    text-transform: uppercase;
    word-wrap: break-word;
    color: $white;
    font-family: 'MuseoSansCyrl', sans-serif ;
    letter-spacing: rem(1px);
    text-align: center;
}

.menu {
    
    @include tablets{ 
        display: block;
        width: 100vw;
        height: 100vh;
        background-color: $dark;  
        position: absolute;
        top:0;
        left:0; 
        display: flex;
        align-items: center; 
        display: none;
    }
    @include mobile{
        width: 100vw;
        height: 100vh;
        background-color: rgba($black, .6); 
        position: absolute;
        top:0;
        left:0; 
        display: flex;
        align-items: center; 
        display: none;
    }      
    
    .link-menu:hover .menu {
        display:flex;
    }


    
    &__list {
        width: rem(600px);
        display: flex;
        justify-content: space-between;
        text-align: center;
        margin: 0% auto;
        padding-left: 0%; 
        
        @include tablets{ 
            flex-direction: column; 
        }
        @include mobile{
            flex-direction: column;  
        }      
    }

    &__item {
        list-style-type: none;
        @include tablets{ 
           margin-bottom: 3%;
        }
        @include mobile{
            margin-bottom: 3%; 
        }      
    }

    &__link {
        color: $white;
        text-decoration: none;
        font-size: rem(18px);
        white-space: nowrap;
    }     
}

.x-menu {
    width: rem(20px);
    height: rem(20px);
    position: absolute;
    top: 0;
    right: 0;
    top: 2%;
    right: 5%;
    list-style-type: none;
    display: none;
    @include tablets {
    display: flex;
    }
    @include mobile {
    display: flex;
    }
}


.call {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 10rem;
    text-align: center;

    &__number {
        font-size: rem(24px);
        text-decoration: none;
        color: $white;
        font-style: normal;
        text-transform: uppercase;
        white-space: nowrap;
        line-height: 1;
    }

    @include tablets {
        display: none;
    }

    @include mobile {
        display: none;
    }
}

.phone {
    height: rem(11px);
    width: rem(12px);

    &-icon {
        fill: $white;
    }
}

.side-menu {
    width: rem(30px);
    height: rem(30px);
    position: absolute;
    top: 1%;
    right: 2%;
    display: none;

    @include tablets{ 
       display: block;
    }
    @include mobile{
       display: block;
    }    
}


.content {
    color: $white;
    flex-grow: 3;
}

.bars {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-bottom: 8%;
    margin-top: 8%;

    @include tablets {
        flex-direction: column;
        flex-direction: column-reverse;
        margin-top: 0%;
    }
    @include mobile {
        flex-direction: column;
        flex-direction: column-reverse;
        margin-top: 0%;
    }

    &__image {
        position: absolute;
        right: 0%;
        bottom: -rem(97px);
        right: -rem(52px);
        @include tablets {
        position: static;
        }
        @include mobile {
        position: static;
        }

    }
}

.bars__information {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: rem(400px);

    &>h1 {
        font-size: rem(59px);
        text-transform: uppercase;
        margin: 0% 0% 3%;
        line-height: 1;
    }

    &>p {
        font-size: rem(20px);
        margin: 0% 0% 9%;
    }

    @include tablets {
        align-items: center;
        text-align: center;
    }

    @include mobile {
        align-items: center; 
        text-align: center;  
    }
}

.bars__button {
    outline: none;
    width: rem(156px);
    height: rem(58px);
    background: $white;
    border: rem(1px);
    border-radius: rem(50px);
    font-size: rem(18px);
    color: $green;
    text-transform: uppercase;
    font-weight: bold;
    box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);

    &:hover {
        cursor: pointer;
    }

    &:focus {
        background: $green;
        color: $white;
    }
}

.advantages {
    flex-grow: 1;
    display: flex;
 
    @include tablets {
        justify-content: center;
    }

    @include mobile {
        justify-content: center; 
    }
    

    &__list {
        color: $white;
        display: flex;
        justify-content: space-between;
        list-style-type: none;
        width: rem(485px);
        font-size: rem(16px);
        padding: 0%;
        margin: 0%;
    }

    &__item {
        display: flex;
    }

}

.icon {
    fill: none;
    stroke: #aef5fe;
    stroke-width: 0.5;
    stroke-miterlimit: 10;
}

.leaves-icon {
    height: rem(50px);
    width: rem(60px); 
}

.track-icon {
    height: rem(50px);
    width: rem(80px);  
}

.measure-icon {
    height: rem(50px);
    width: rem(65px);
}

.advantages__item>p {
    width: rem(60px);
    margin: rem(0px);
}
