.first {
  background-color: #61c4d9;
  background-image: url(../img/first/background.png);
  background-repeat: no-repeat;
  background-position: right center;
  height: 100vh;
  width: 100%;
  min-height: 650px;
  position: relative;
  padding-top: 12px; }
  .first:after {
    content: url(../img/first/background2.png);
    position: absolute;
    bottom: -57px;
    right: 189px; }

.first__container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch; }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1; }

.logo {
  width: 53px;
  font-size: 24px;
  text-transform: uppercase;
  word-wrap: break-word;
  color: white; }

.menu__list {
  display: flex;
  justify-content: space-between;
  text-align: center;
  width: 630px;
  margin: 0px;
  padding-left: 0px; }
.menu__item {
  list-style-type: none; }
.menu__link {
  color: white;
  text-decoration: none;
  font-size: 18px; }

.call__number {
  font-size: 24px;
  text-decoration: none;
  color: white;
  font-style: normal;
  text-transform: uppercase; }
  .call__number:before {
    content: url("../img/first/phone.png");
    margin-right: 2px; }

.content {
  color: white;
  flex-grow: 3; }

.bars {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-bottom: 66px;
  margin-top: 85px; }
  .bars__image {
    position: absolute;
    right: 0px;
    bottom: -97px;
    right: -52px; }

.bars__information {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 400px; }
  .bars__information > h1 {
    font-size: 59px;
    text-transform: uppercase;
    margin: 0px 0px 10px;
    line-height: 1; }
  .bars__information > p {
    font-size: 20px;
    margin: 0px 0px 32px; }

.bars__button {
  width: 156px;
  height: 58px;
  background: white;
  border: 1px;
  border-radius: 50px;
  font-size: 18px;
  color: #0b4d3c;
  text-transform: uppercase;
  font-weight: bold;
  box-shadow: 0px 3px 0px rgba(0, 0, 0, 0.1); }
  .bars__button:hover {
    cursor: pointer; }

.advantages {
  flex-grow: 1; }
  .advantages__list {
    color: white;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    width: 485px;
    font-size: 16px;
    padding: 0px;
    margin: 0px; }
  .advantages__item {
    width: 125px;
    display: flex; }

.advantages__item-one:before {
  content: url("../img/first/one.png");
  margin-right: 10px; }

.advantages__item-two:before {
  content: url("../img/first/two.png");
  margin-right: 10px; }

.advantages__item-three:before {
  content: url("../img/first/three.png");
  margin-right: 10px; }
