.footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  background: white; }
  .footer__container {
    display: flex;
    height: 93px; }

.contacts {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .contacts > p {
    font-size: 21px;
    margin: 0px; }

.handset {
  height: 11px;
  width: 11px;
  margin-right: 7px; }
  .handset-icon {
    fill: #0b4d3c; }

.number {
  font-size: 21px;
  text-decoration: none;
  color: #0b4d3c;
  font-style: normal;
  text-transform: uppercase;
  font-weight: light; }

.social {
  width: 50%;
  display: flex;
  justify-content: flex-end; }
  .social__list {
    display: flex;
    list-style-type: none;
    align-items: center;
    margin: 0px;
    padding-left: 0px; }

.social__item {
  margin-right: 20px; }
  .social__item:nth-child(4) {
    margin-right: 0px; }

.site {
  height: 23px;
  width: 23px; }
  .site:hover {
    cursor: pointer; }
  .site:hover > .social-icon {
    fill: #0e0e0e; }

.social-icon {
  fill: #8d8d8d; }
