
.fourth {
    color: $black;
    @include size;
    background-image: url(../img/fourth/background.png);
    background-position: right top rem(20px);
    background-repeat: no-repeat;
    position: relative;

    &:after {
        content: url(../img/fourth/blueberries.png);
        position: absolute;
        top: rem(-30px);
        right: rem(15px);
    }
}

.fourth__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $black;

    &>h2 {
        font-size: rem(48px);
        text-transform: uppercase;
        text-align: center;
        line-height: 1;
        margin: rem(0px) rem(0px) rem(58px);
    }
}

.team {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: rem(0px);
    padding-left: rem(0px);

    &__item {
        width: 25%;
        height: rem(403px);
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        
    }
}

.team__direction {
    overflow: hidden;
    height: 0;

    &>h5 {
        font-size: rem(17px);
        margin: rem(0px); 
    }
    
    &>p {
        font-size: rem(17px);
        margin: rem(0px);
        color: $grey;
    }
}

.employee{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    font-size: rem(21px);
    margin: rem(0px);
}

.triangle {
    height: rem(20px);
    width: rem(20px);
    fill: $green;
}