@import url(./normalize.css);
@import url("https://fonts.googleapis.com/css?family=Alegreya+Sans:300,400,700&display=swap&subset=cyrillic-ext");
html body {
  margin: 0px;
  font-family: 'Alegreya Sans', sans-serif; }

.wrapper {
  width: 100%;
  height: 100%; }

.container {
  margin: 0 auto;
  width: 940px;
  height: 100vh; }

.first {
  background-color: #61c4d9;
  background-image: url(../img/first/background.png);
  background-repeat: no-repeat;
  background-position: right center;
  height: 100vh;
  width: 100%;
  min-height: 650px;
  position: relative;
  padding-top: 12px; }
  .first:after {
    content: url(../img/first/background2.png);
    position: absolute;
    bottom: -57px;
    right: 189px; }

.first__container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch; }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1; }

.logo {
  width: 53px;
  font-size: 24px;
  text-transform: uppercase;
  word-wrap: break-word;
  color: white; }

.menu__list {
  display: flex;
  justify-content: space-between;
  text-align: center;
  width: 630px;
  margin: 0px;
  padding-left: 0px; }
.menu__item {
  list-style-type: none; }
.menu__link {
  color: white;
  text-decoration: none;
  font-size: 18px; }

.call__number {
  font-size: 24px;
  text-decoration: none;
  color: white;
  font-style: normal;
  text-transform: uppercase; }
  .call__number:before {
    content: url("../img/first/phone.png");
    margin-right: 2px; }

.content {
  color: white;
  flex-grow: 3; }

.bars {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-bottom: 66px;
  margin-top: 85px; }
  .bars__image {
    position: absolute;
    right: 0px;
    bottom: -97px;
    right: -52px; }

.bars__information {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 400px; }
  .bars__information > h1 {
    font-size: 59px;
    text-transform: uppercase;
    margin: 0px 0px 10px;
    line-height: 1; }
  .bars__information > p {
    font-size: 20px;
    margin: 0px 0px 32px; }

.bars__button {
  outline: none;
  width: 156px;
  height: 58px;
  background: white;
  border: 1px;
  border-radius: 50px;
  font-size: 18px;
  color: #0b4d3c;
  text-transform: uppercase;
  font-weight: bold;
  box-shadow: 0px 3px 0px rgba(0, 0, 0, 0.1); }
  .bars__button:hover {
    cursor: pointer; }
  .bars__button:focus {
    background: #0b4d3c;
    color: white; }

.advantages {
  flex-grow: 1; }
  .advantages__list {
    color: white;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    width: 485px;
    font-size: 16px;
    padding: 0px;
    margin: 0px; }
  .advantages__item {
    width: 125px;
    display: flex; }

.second {
  padding-top: 9px;
  position: relative;
  height: 100vh;
  width: 100%;
  min-height: 650px;
  background: url("../img/second/background.png") left center no-repeat;
  background-color: #0b4d3c; }
  .second:after {
    content: url(../img/second/snack.png);
    position: absolute;
    bottom: -130px; }

.second__container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.reason {
  width: 406px;
  margin: 0px auto 55px; }
  .reason > h2 {
    font-size: 48px;
    font-weight: bold;
    text-transform: uppercase;
    color: #0e0e0e;
    margin: 0px 0px 7px; }
  .reason > p {
    font-size: 18px;
    color: #8d8d8d;
    margin: 0px; }

.description {
  margin: 0 auto; }
  .description__image {
    width: 125px;
    height: 125px;
    border-radius: 50%;
    background: #f8faf9;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px; }
  .description__list {
    display: flex;
    justify-content: space-between;
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    width: 940px; }
  .description__item {
    width: 260px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative; }

.description__explain > h3 {
  color: #0e0e0e;
  font-size: 27px;
  margin: 0px 0px 18px; }
.description__explain > p {
  color: #8d8d8d;
  font-size: 18px;
  margin: 0px; }

.description__item:after {
  content: url(../img/second/rounds.png);
  position: absolute;
  top: 20%;
  right: -32%; }

.description__item:last-child:after {
  content: ""; }

.third {
  height: 100vh;
  width: 100%;
  min-height: 650px;
  background: #f8faf9; }

.third__container {
  display: flex; }

.fourth {
  color: #0e0e0e;
  height: 100vh;
  width: 100%;
  min-height: 650px;
  background-image: url(../img/fourth/background.png);
  background-position: right top 20px;
  background-repeat: no-repeat;
  background-color: #0b4d3c;
  position: relative; }
  .fourth:after {
    content: url(../img/fourth/blueberries.png);
    position: absolute;
    top: -30px;
    right: 15px; }
  .fourth:before {
    content: url(../img/fourth/rastberry.png);
    position: absolute;
    bottom: -42px;
    left: 30px; }

.fourth__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #0e0e0e; }
  .fourth__container > h2 {
    font-size: 48px;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
    margin: 0px 0px 58px; }

.team {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 0px;
  padding-left: 0px; }
  .team__item {
    width: 25%;
    height: 403px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; }
  .team__direction > h5 {
    font-size: 17px;
    margin: 0px; }
  .team__direction > p {
    font-size: 17px;
    margin: 0px;
    color: #8d8d8d; }

.team__item > h4 {
  font-size: 21px;
  margin: 0px; }

.fifth {
  background: url(../img/fifth/background.png) center center/cover no-repeat;
  color: white; }

.fifth__container > h2 {
  font-size: 48px;
  text-transform: uppercase;
  text-align: left;
  margin: 0px; }

.bars-type {
  list-style-type: none;
  margin: 0px;
  padding-left: 0px; }
  .bars-type__item {
    font-size: 48px; }
  .bars-type__description > p {
    font-size: 16px; }

.sixth {
  height: 100vh;
  width: 100%;
  min-height: 650px;
  padding-top: 59px;
  position: relative;
  background: #0b4d3c; }
  .sixth:after {
    content: url(../img/sixth/background.png);
    position: absolute;
    bottom: 0px; }

.sixth__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .sixth__container > h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 48px;
    color: #0e0e0e;
    margin: 0px 0px 28px;
    position: relative; }

.sixth__container > h2:after {
  content: url(../img/sixth/strawberry.png);
  position: absolute;
  left: 256%;
  bottom: -38%; }

.review {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative; }
  .review:before {
    content: url(../img/sixth/ellipse.png);
    position: absolute;
    top: -1px; }
  .review__area {
    padding-left: 0px;
    margin: 0px auto 24px;
    width: 940px;
    height: 345px;
    background-color: #f8faf9;
    background-image: url("../img/sixth/background2.png");
    background-repeat: no-repeat;
    background-position: right top;
    display: flex;
    align-items: center; }
  .review__block {
    display: flex;
    width: 713px;
    height: 260px;
    align-items: center;
    margin-left: 42px;
    margin-top: 24px; }
  .review__image {
    margin-right: 20px; }

.review__content {
  width: 433px;
  height: 217px; }
  .review__content > h3 {
    font-size: 30px;
    color: #0e0e0e;
    margin: 0px 0px 10px; }
  .review__content > p {
    font-size: 18px;
    color: #8d8d8d;
    margin: 0px 0px 28px; }
  .review__content > div {
    color: #8d8d8d; }

.clients__list {
  margin: 0px;
  padding-left: 0px;
  display: flex;
  justify-content: center; }
.clients__item {
  list-style-type: none;
  margin-right: 2px; }
  .clients__item:nth-last-child {
    margin-right: none; }
.clients-image {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  border: 4px solid;
  border-color: #0b4d3c; }
.clients:after {
  content: url(../img/sixth/berries.png);
  position: relative;
  right: 193%;
  bottom: 47px; }

.seventh {
  height: 100vh;
  width: 100%;
  min-height: 650px;
  background: #f8faf9;
  position: relative; }
  .seventh:after {
    content: url(../img/seventh/blackberry.png);
    position: absolute;
    bottom: -110px;
    right: 0px; }

.seventh__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative; }
  .seventh__container:after {
    content: url(../img/seventh/background.png);
    position: absolute; }
  .seventh__container > h2 {
    margin: 0px;
    font-size: 48px;
    text-transform: uppercase;
    margin-bottom: 50px; }
  .seventh__container > div {
    background: url(../img/seventh/video.png) no-repeat;
    width: 670px;
    height: 360px;
    font-size: 30px;
    font-weight: bold;
    color: #0b4d3c; }

.eighth {
  background: url(../img/eighth/background.png) center center/cover no-repeat; }

.eighth__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #0b4d3c; }
  .eighth__container > h2 {
    margin: 0px;
    font-size: 48px;
    text-transform: uppercase;
    line-height: 1;
    margin-bottom: 54px; }

.form {
  display: flex;
  justify-content: space-between; }

.personal-information {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: flex-start;
  width: 490px;
  margin-right: 20px; }

.cell__1 {
  flex-basis: 225px;
  margin-bottom: 20px; }
.cell__2 {
  flex-basis: 490px;
  margin-bottom: 20px; }
.cell__3 {
  flex-basis: 100px; }
.cell__name {
  font-size: 18px;
  margin-bottom: 8px; }
.cell__input {
  height: 59px;
  width: 100%;
  background: white;
  padding: 10px 10px;
  outline: none;
  border: 1px solid transparent;
  color: #0b4d3c;
  font-size: 16px;
  box-sizing: border-box;
  text-align: center; }
.cell__comment {
  margin-bottom: 27px; }
.cell__input--comment {
  height: 180px;
  resize: none;
  text-align: left; }

.cell__input:focus {
  border-color: #0b4d3c; }

.comments {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  width: 430px; }
  .comments__checkbox {
    height: 59px;
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    margin-bottom: 40px; }

.checkbox {
  display: flex;
  align-items: center;
  margin-right: 32px; }
  .checkbox:nth-child(3) {
    margin-right: 0px; }

.button__submit {
  outline: none;
  margin-right: 29px;
  width: 156px;
  height: 58px;
  background: #0b4d3c;
  border: 1px;
  border-radius: 50px;
  font-size: 18px;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  box-shadow: 0px 3px 0px rgba(0, 0, 0, 0.1); }
  .button__submit:hover {
    cursor: pointer; }
  .button__submit:focus {
    background: white;
    color: #0b4d3c; }

.button__reset {
  font-size: 18px;
  color: #0b4d3c;
  border: none;
  outline: none;
  background-color: transparent; }
  .button__reset:hover {
    cursor: pointer; }

.checkbox__circle {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-right: 10px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center; }
  .checkbox__circle:before {
    content: "";
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #0b4d3c;
    opacity: 0; }

.checkbox__choice {
  opacity: 0; }
  .checkbox__choice:checked ~ .checkbox__circle:before {
    opacity: 1; }
  .checkbox__choice:checked:checked + .checkbox__square > .mark {
    opacity: 1; }

.checkbox__square {
  width: 25px;
  height: 25px;
  background: white;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center; }

.mark {
  opacity: 0; }

.ninth {
  background: url(../img/ninth/map.png) center center/cover no-repeat;
  position: relative; }

.footer {
  position: absolute;
  bottom: 0;
  background-color: #0b4d3c; }

.footer__container {
  display: flex; }

.social-networks__list {
  display: flex;
  list-style-type: none; }

.contacts__address {
  font-size: 21px; }

.contacts__phone {
  font-size: 21px;
  text-decoration: none;
  color: #0b4d3c;
  font-style: normal;
  text-transform: uppercase;
  font-weight: light; }
  .contacts__phone:before {
    content: url("../img/first/phone.png");
    margin-right: 2px; }
