@charset "UTF-8";
@import url(./normalize.css);
@import url("https://fonts.googleapis.com/css?family=Alegreya+Sans:300,400,700&display=swap&subset=cyrillic-ext");
@font-face {
  font-family: MuseoSansCyrl;
  src: url(../fonts/Museo-Sans-Cyr/MuseoSansCyrl_1.otf); }
html body {
  font-size: 10px;
  margin: 0px;
  font-family: 'Alegreya Sans', sans-serif; }

.wrapper {
  width: 100%;
  height: 100%;
  position: relative; }

.container {
  margin: 0 auto;
  max-width: 94rem;
  width: 85%;
  height: 100vh; }

.first {
  background-color: #61c4d9;
  background-image: url(../img/first/background.png);
  background-repeat: no-repeat;
  background-position: right center;
  height: 100vh;
  width: 100%;
  min-height: 650px;
  position: relative; }
  .first:after {
    content: url(../img/first/background2.png);
    position: absolute;
    bottom: -3.5625rem;
    right: 0; }
  .first:before {
    content: url(../img/first/background3.png);
    position: absolute;
    bottom: -3.5625rem;
    left: 0; }
  .first__container {
    padding-top: 0.75rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch; }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1; }

.logo {
  width: 4.3125rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  word-wrap: break-word;
  color: white;
  font-family: "MuseoSansCyrl", sans-serif;
  letter-spacing: 0.0625rem; }

.menu__list {
  display: flex;
  justify-content: space-between;
  text-align: center;
  width: 39.375rem;
  margin: 0rem;
  padding-left: 0rem; }
.menu__item {
  list-style-type: none; }
.menu__link {
  color: white;
  text-decoration: none;
  font-size: 1.125rem; }

.call {
  display: flex;
  align-items: center; }
  .call__number {
    font-size: 1.5rem;
    text-decoration: none;
    color: white;
    font-style: normal;
    text-transform: uppercase; }

.phone {
  height: 0.6875rem;
  width: 0.75rem;
  margin-right: 0.4375rem; }
  .phone-icon {
    fill: white; }

.content {
  color: white;
  flex-grow: 3; }

.bars {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-bottom: 4.125rem;
  margin-top: 5.3125rem; }
  .bars__image {
    position: absolute;
    right: 0rem;
    bottom: -rem(97px);
    right: -rem(52px); }

.bars__information {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 25rem; }
  .bars__information > h1 {
    font-size: 3.6875rem;
    text-transform: uppercase;
    margin: 0rem 0rem 0.625rem;
    line-height: 1; }
  .bars__information > p {
    font-size: 1.25rem;
    margin: 0rem 0rem 2rem; }

.bars__button {
  outline: none;
  width: 9.75rem;
  height: 3.625rem;
  background: white;
  border: 0.0625rem;
  border-radius: 3.125rem;
  font-size: 1.125rem;
  color: #0b4d3c;
  text-transform: uppercase;
  font-weight: bold;
  box-shadow: 0rem 0.1875rem 0rem rgba(0, 0, 0, 0.1); }
  .bars__button:hover {
    cursor: pointer; }
  .bars__button:focus {
    background: #0b4d3c;
    color: white; }

.advantages {
  flex-grow: 1; }
  .advantages__list {
    color: white;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    width: 30.3125rem;
    font-size: 1rem;
    padding: 0rem;
    margin: 0rem; }
  .advantages__item {
    display: flex; }

.icon {
  fill: none;
  stroke: #aef5fe;
  stroke-width: 0.5;
  stroke-miterlimit: 10; }

.leaves-icon {
  height: 3.125rem;
  width: 3.75rem; }

.track-icon {
  height: 3.125rem;
  width: 5rem; }

.measure-icon {
  height: 3.125rem;
  width: 4.0625rem; }

.advantages__item > p {
  width: 3.75rem;
  margin: 0rem; }

.second {
  position: relative;
  height: 100vh;
  width: 100%;
  min-height: 650px;
  background: url("../img/second/background.png") left center no-repeat; }
  .second:before {
    content: url(../img/second/snack.png);
    position: absolute;
    bottom: -8.125rem; }

.second__container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 0.5625rem; }

.reason {
  width: 25.375rem;
  margin: 0rem auto 3.4375rem; }
  .reason > h2 {
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #0e0e0e;
    margin: 0rem 0rem 0.4375rem; }
  .reason > p {
    font-size: 1.125rem;
    color: #8d8d8d;
    margin: 0rem; }

.description {
  margin: 0 auto; }
  .description__image {
    height: 5rem;
    width: 5rem; }
  .description__list {
    display: flex;
    justify-content: space-between;
    margin: 0rem;
    padding: 0rem;
    list-style-type: none;
    width: 58.75rem; }
  .description__item {
    width: 16.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative; }

.description__explain > h3 {
  color: #0e0e0e;
  font-size: 1.6875rem;
  margin: 0rem 0rem 1.125rem; }
.description__explain > p {
  color: #8d8d8d;
  font-size: 1.125rem;
  margin: 0rem; }

.round {
  width: 7.8125rem;
  height: 7.8125rem;
  border-radius: 50%;
  background: #f8faf9;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2.5rem; }

.image-icon {
  fill: none;
  stroke: #000000;
  stroke-width: 0.7;
  stroke-miterlimit: 10; }

.description__item:after {
  content: url(../img/second/rounds.png);
  position: absolute;
  top: 20%;
  right: -32%; }

.description__item:last-child:after {
  content: ""; }

.third {
  height: 100vh;
  width: 100%;
  min-height: 650px;
  background: #f8faf9; }

.third__container {
  display: flex;
  align-items: center;
  justify-content: center; }

.fourth {
  color: #0e0e0e;
  height: 100vh;
  width: 100%;
  min-height: 650px;
  background-image: url(../img/fourth/background.png);
  background-position: right top 1.25rem;
  background-repeat: no-repeat;
  position: relative; }
  .fourth:after {
    content: url(../img/fourth/blueberries.png);
    position: absolute;
    top: -1.875rem;
    right: 0.9375rem; }

.fourth__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #0e0e0e; }
  .fourth__container > h2 {
    font-size: 3rem;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
    margin: 0rem 0rem 3.625rem; }

.team {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 0rem;
  padding-left: 0rem; }
  .team__item {
    width: 25%;
    height: 25.1875rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; }

.team__direction {
  overflow: hidden;
  height: 0; }
  .team__direction > h5 {
    font-size: 1.0625rem;
    margin: 0rem; }
  .team__direction > p {
    font-size: 1.0625rem;
    margin: 0rem;
    color: #8d8d8d; }

.employee {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  font-size: 1.3125rem;
  margin: 0rem; }

.triangle {
  height: 1.25rem;
  width: 1.25rem;
  fill: #0b4d3c; }

.fifth {
  height: 100vh;
  width: 100%;
  min-height: 650px;
  background: url(../img/fifth/background.png) center center/cover no-repeat;
  color: white;
  position: relative; }
  .fifth:before {
    content: url(../img/fifth/rastberry.png);
    position: absolute;
    top: -3.625rem;
    left: 1.875rem; }

.fifth__container {
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .fifth__container > h2 {
    font-size: 3rem;
    text-transform: uppercase;
    text-align: left;
    margin: 0rem; }

.bars-type {
  list-style-type: none;
  margin: 0rem;
  padding-left: 0rem;
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%; }
  .bars-type__item > h3 {
    font-size: 3rem;
    margin: 0rem;
    transform: rotate(180deg);
    writing-mode: vertical-lr;
    text-align: center;
    width: 6.25rem;
    line-height: 2; }
  .bars-type__item > p {
    overflow: hidden;
    width: 0;
    font-size: 1rem;
    margin: 0rem;
    width: 0rem; }

.bars-type__item {
  background-color: rgba(14, 14, 14, 0.6);
  display: flex;
  justify-content: flex-end; }
  .bars-type__item--one > h3 {
    background: url(../img/fifth/kokosovoe-maslo-dlya-zdorovya-i-krasoty_копия.png) center center/cover no-repeat; }
  .bars-type__item--two > h3 {
    background: url(../img/fifth/Granola-Bars-with-calamondin.png) center center/cover no-repeat; }
  .bars-type__item--three > h3 {
    background: url(../img/fifth/shutterstock_684121381.png) center center/cover no-repeat; }

.sixth {
  height: 100vh;
  width: 100%;
  min-height: 650px;
  position: relative;
  font-size: 1.125rem; }
  .sixth:before {
    content: url(../img/sixth/background.png);
    position: absolute;
    bottom: 0%; }
  .sixth:after {
    content: url(../img/sixth/strawberry.png);
    position: absolute;
    right: 11%;
    top: 4%; }

.sixth__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 3.6875rem; }
  .sixth__container > h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 3rem;
    color: #0e0e0e;
    margin: 0rem 0rem 1.75rem;
    position: relative; }

.review {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative; }
  .review:before {
    content: url(../img/sixth/ellipse.png);
    position: absolute;
    top: -0.0625rem; }
  .review__area {
    padding-left: 0rem;
    margin: 0rem auto 1.5rem;
    width: 58.75rem;
    height: 21.5625rem;
    background-color: #f8faf9;
    background-image: url("../img/sixth/background2.png");
    background-repeat: no-repeat;
    background-position: right top;
    display: flex;
    align-items: center; }
  .review__block {
    display: flex;
    width: 44.5625rem;
    height: 16.25rem;
    align-items: center;
    margin-left: 2.625rem;
    margin-top: 1.5rem; }
  .review__image {
    margin-right: 1.25rem;
    width: 15.875rem;
    height: 15.625rem; }

.review__content {
  width: 27.0625rem;
  height: 13.5625rem; }
  .review__content > h3 {
    font-size: 1.875rem;
    color: #0e0e0e;
    margin: 0rem 0rem 0.625rem; }
  .review__content > p {
    color: #8d8d8d;
    margin: 0rem 0rem 1.75rem; }
  .review__content > div {
    color: #8d8d8d; }

.clients__list {
  margin: 0rem;
  padding-left: 0rem;
  display: flex;
  justify-content: center; }
.clients__item {
  list-style-type: none;
  margin-right: 0.125rem; }
  .clients__item:nth-last-child {
    margin-right: none; }
.clients-image {
  width: 4.0625rem;
  height: 4.0625rem;
  border-radius: 50%;
  border: 0.25rem solid;
  border-color: #0b4d3c; }

.seventh {
  height: 100vh;
  width: 100%;
  min-height: 650px;
  background-color: #f8faf9;
  position: relative; }
  .seventh:after {
    content: url(../img/seventh/blackberry.png);
    position: absolute;
    bottom: -6.875rem;
    right: 0rem; }
  .seventh:before {
    content: url(../img/seventh/berries.png);
    position: absolute;
    left: 1%;
    top: -17%; }

.seventh__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative; }
  .seventh__container:after {
    content: url(../img/seventh/background.png);
    position: absolute; }
  .seventh__container > h2 {
    margin: 0rem;
    font-size: 3rem;
    text-transform: uppercase;
    margin-bottom: 3.125rem; }

.video {
  width: 66rem;
  text-align: center; }

.eighth {
  background: url(../img/eighth/background.png) center center/cover no-repeat; }

.eighth__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #0b4d3c; }
  .eighth__container > h2 {
    margin: 0rem;
    font-size: 3rem;
    text-transform: uppercase;
    line-height: 1;
    margin-bottom: 3.375rem; }

.form {
  display: flex;
  justify-content: space-between;
  font-size: 18px; }

.personal-information {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: flex-start;
  width: 30.625rem;
  margin-right: 1.25rem; }

.cell__1 {
  flex-basis: 14.0625rem;
  margin-bottom: 1.25rem; }
.cell__2 {
  flex-basis: 30.625rem;
  margin-bottom: 1.25rem; }
.cell__3 {
  flex-basis: 6.25rem; }
.cell__name {
  margin-bottom: 0.5rem; }
.cell__input {
  height: 3.6875rem;
  width: 100%;
  background: white;
  padding: 0.625rem 0.625rem;
  outline: none;
  border: 0.0625rem solid transparent;
  color: #0b4d3c;
  font-size: 1rem;
  box-sizing: border-box;
  text-align: center; }
.cell__comment {
  margin-bottom: 1.6875rem; }
.cell__input--comment {
  height: 11.25rem;
  resize: none;
  text-align: left; }

.cell__input:focus {
  border-color: #0b4d3c; }

.comments {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  width: 26.875rem; }
  .comments__checkbox {
    height: 3.6875rem;
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    margin-bottom: 2.5rem; }

.checkbox {
  display: flex;
  align-items: center;
  margin-right: 2rem; }
  .checkbox:nth-child(3) {
    margin-right: 0rem; }

.button__submit {
  outline: none;
  margin-right: 1.8125rem;
  width: 9.75rem;
  height: 3.625rem;
  background: #0b4d3c;
  border: 0.0625rem;
  border-radius: 3.125rem;
  font-size: 1.125rem;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  box-shadow: 0rem 0.1875rem 0rem rgba(0, 0, 0, 0.1); }
  .button__submit:hover {
    cursor: pointer; }
  .button__submit:focus {
    background: white;
    color: #0b4d3c; }

.button__reset {
  font-size: 1.125rem;
  color: #0b4d3c;
  border: none;
  outline: none;
  background-color: transparent; }
  .button__reset:hover {
    cursor: pointer; }

.checkbox__circle {
  width: 1.5625rem;
  height: 1.5625rem;
  border-radius: 50%;
  margin-right: 0.625rem;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center; }
  .checkbox__circle:before {
    content: "";
    width: 0.8125rem;
    height: 0.8125rem;
    border-radius: 50%;
    background: #0b4d3c;
    opacity: 0; }

.checkbox__choice {
  opacity: 0; }
  .checkbox__choice:checked ~ .checkbox__circle:before {
    opacity: 1; }
  .checkbox__choice:checked:checked + .checkbox__square > .mark {
    opacity: 1; }

.checkbox__square {
  width: 1.5625rem;
  height: 1.5625rem;
  background: white;
  margin-right: 0.625rem;
  display: flex;
  align-items: center;
  justify-content: center; }

.mark {
  opacity: 0; }

.ninth {
  height: 100vh;
  width: 100%;
  min-height: 650px;
  background: url(../img/ninth/map.png) center center/cover no-repeat; }

.footer {
  position: absolute;
  bottom: 0rem;
  width: 100%;
  background: white; }
  .footer__container {
    display: flex;
    height: 5.8125rem; }

.contacts {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .contacts > p {
    font-size: 1.3125rem;
    margin: 0rem; }

.handset {
  height: 0.6875rem;
  width: 0.6875rem;
  margin-right: 0.4375rem; }
  .handset-icon {
    fill: #0b4d3c; }

.number {
  font-size: 1.3125rem;
  text-decoration: none;
  color: #0b4d3c;
  font-style: normal;
  text-transform: uppercase;
  font-weight: light; }

.social {
  width: 50%;
  display: flex;
  justify-content: flex-end; }
  .social__list {
    display: flex;
    list-style-type: none;
    align-items: center;
    margin: 0rem;
    padding-left: 0rem; }

.social__item {
  margin-right: 1.25rem; }
  .social__item:nth-child(4) {
    margin-right: 0rem; }

.site {
  height: 1.4375rem;
  width: 1.4375rem; }
  .site:hover {
    cursor: pointer; }
  .site:hover > .social-icon {
    fill: #0e0e0e; }

.social-icon {
  fill: #8d8d8d; }

.sidebar {
  position: fixed;
  top: 30%;
  right: 2%; }
  .sidebar__list {
    list-style-type: none;
    padding-left: 0;
    margin: 0; }

.sidebar__item {
  margin-bottom: 0.9375rem;
  display: flex;
  justify-content: center;
  align-items: center; }
  .sidebar__item:hover {
    cursor: pointer; }

.link {
  width: 0.4375rem;
  height: 0.4375rem;
  border-radius: 50%;
  background: #0b4d3c;
  position: relative; }
  .link:before {
    content: "";
    display: none;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid #0b4d3c;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%); }
  .link:active:before {
    display: flex; }
  .link:focus:before {
    display: flex; }
