.ninth {
    @include size;
    background: url(../img/ninth/map.png) center center / cover no-repeat;

    @include tablets {
        padding: 25%;
    }

    @include mobile {
        padding: 25%;
       
    }
}
