
.second {
    // padding-top: rem(9px);
    position: relative;
    @include size;
    background: url('../img/second/background.png') left center no-repeat;

    &:before {
        content: url(../img/second/snack.png);
        position: absolute;
        bottom: rem(-130px);
    }
}

.second__container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: rem(9px);
}

.reason {
    width: rem(406px);
    margin: rem(0px) auto rem(55px);

    &>h2 {
        font-size: rem(48px);
        font-weight: bold;
        text-transform: uppercase;
        color: $black;
        margin: rem(0px) rem(0px) rem(7px);
    }

    &>p {
        font-size: rem(18px);
        color: $grey;
        margin: rem(0px);

    }
}

// description 
.description {
    margin: 0 auto;

    &__image {
       height: rem(80px);
       width: rem(80px);
    }

    &__list {
        display: flex;
        justify-content: space-between;
        margin: rem(0px);
        padding: rem(0px);
        list-style-type: none;
        width: rem(940px);
    }

    &__item {
        width: rem(260px);
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        position: relative;
    }
}

.description__explain {

    &>h3 {
        color: $black;
        font-size: rem(27px);
        margin: rem(0px) rem(0px) rem(18px);
    }

    &>p {
        color: $grey;
        font-size: rem(18px);
        margin: rem(0px);
    }
}

.round {
    width: rem(125px);
    height: rem(125px);
    border-radius: 50%;
    background: $light;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: rem(40px);
}

.image-icon {
    fill:none;
    stroke:#000000;
    stroke-width:0.7;
    stroke-miterlimit:10;
}

.description__item:after {
    content: url(../img/second/rounds.png);
    position: absolute;
    top: 20%;
    right: -32%;
}

.description__item:last-child:after {
    content: "";
}