.seventh {
    @include size;
    background-color: $light;
    position: relative;
    box-sizing: border-box;
    display: flexbx;

    @include tablets {
        padding: 5%
    }

    @include mobile {
        padding: 10%;
    }


    &:after {
        content: url(../img/seventh/blackberry.png);
        position: absolute;
        bottom: -17%;
        right: 0%;

        @include tablets {
            bottom: -22%;
            right: -5%;
        }

        @include mobile {
            bottom: -8%;
            right: -19%;

        }
    }

    &:before {
        content: url(../img/seventh/berries.png);
        position: absolute;
        left: 1%;
        top: -17%;
        z-index: 1;

        @include tablets {
            left: -4%;
            top: -17%;
        }

        @include mobile {
            left: -4%;
            top: -5%;
        }
    }
}

.seventh__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    // &:after {
    // content: url(../img/seventh/background.png);
    // position: absolute;
    // z-index: 5;
    // }

    &>h2 {
        margin: 0%;
        font-size: 3rem;
        text-transform: uppercase;
        margin-bottom: 5%;
        text-align: center;
        white-space: nowrap;
        z-index: 1;

        @include mobile {
            font-size: 2.5rem;
        }
    }
}

.pleer {
    width: 100%;
    display: flex;
    justify-content: space-between;
}



.video-block {
    width: 41.25rem;
    height: 26rem;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include tablets {
        width: 36.93rem;
        height: 23.2rem;
    }

    @include mobile {
        width: 22.5rem;
        height: 14.2rem;
    }
}

.video {
    width: 100%;
    height: 89%;
}

.pleer {
    width: 100%;
    height: 10%;
    background: $dark;
}

.pleer {
    display: flex;
    justify-content: space-around;
}

.play {
    background: $green;
    cursor: pointer;
    border: 1px solid transparent;
    display: flex;
}

.progress {
    width: 60%;
    display: flex;
}

.laut {
    background: $dark;
    cursor: pointer;
    border: 1px solid transparent;
    display: flex;
    background: $green;
}

.volume {
    width: 20%;
    display: flex;
}

.mute-icon,
.pause-icon,
.volume-icon {
    width: 1.1rem;
    height: 1.1rem;
    fill: $black;
    z-index: 3;
    opacity: 0;
}

.play-icon {
    width: 1.1rem;
    height: 1.1rem;
    fill: $black;
    z-index: 3;

    &--1 {
        position: relative;
    }
}