
.seventh {
    @include size;
    background-color: $light;
    position: relative; 

    &:after {
        content: url(../img/seventh/blackberry.png);
        position: absolute;
        bottom: -17%;
        right: 0%;
    }

    &:before {
        content: url(../img/seventh/berries.png);
        position: absolute;
        left: 1%;
        top: -17%;
    }
}

.seventh__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    &:after {
    content: url(../img/seventh/background.png);
    position: absolute;
    }
 
    &>h2 {
        margin:0%;
        font-size: rem(48px);
        text-transform: uppercase;
        margin-bottom: 5%;
    }
}

.iframe {
    width: rem(660px);
    height: rem(370px);
}