.sixth {
  height: 100vh;
  width: 100%;
  padding-top: 59px;
  position: relative; }
  .sixth:after {
    content: url(../img/sixth/background.png);
    position: absolute;
    bottom: 0px; }

.sixth__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .sixth__container > h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 48px;
    color: #0e0e0e;
    margin: 0px 0px 28px;
    position: relative; }

.sixth__container > h2:after {
  content: url(../img/sixth/strawberry.png);
  position: absolute;
  left: 256%;
  bottom: -38%; }

.review {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative; }
  .review:before {
    content: url(../img/sixth/ellipse.png);
    position: absolute;
    top: -1px; }
  .review__area {
    padding-left: 0px;
    margin: 0px auto 24px;
    width: 940px;
    height: 345px;
    background-color: #f8faf9;
    background-image: url("../img/sixth/background2.png");
    background-repeat: no-repeat;
    background-position: right top;
    display: flex;
    align-items: center; }
  .review__block {
    display: flex;
    width: 713px;
    height: 260px;
    align-items: center;
    margin-left: 42px;
    margin-top: 24px; }
  .review__image {
    margin-right: 20px; }

.review__content {
  width: 433px;
  height: 217px; }
  .review__content > h3 {
    font-size: 30px;
    color: #0e0e0e;
    margin: 0px 0px 10px; }
  .review__content > p {
    font-size: 18px;
    color: #8d8d8d;
    margin: 0px 0px 28px; }
  .review__content > div {
    color: #8d8d8d; }

.clients__list {
  margin: 0px;
  padding-left: 0px;
  display: flex;
  justify-content: center; }
.clients__item {
  list-style-type: none;
  margin-right: 2px; }
  .clients__item:nth-last-child {
    margin-right: none; }
.clients-image {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  border: 4px solid;
  border-color: #0b4d3c; }
.clients:after {
  content: url(../img/sixth/berries.png);
  position: relative;
  right: 193%;
  bottom: 47px; }
