
.sixth {
    @include size;
    position: relative;
    font-size: 1.125rem;

    &:before {
        content: url(../img/sixth/background.png);
        position: absolute;
        bottom: -22%;
        z-index: 1;

        @include tablets {
            display: none;
        }
        @include mobile {
            display: none;
        }
    }

    &:after {
        content: url(../img/sixth/strawberry.png);
        position: absolute;
        right: 11%;
        top: 4%;
        @include tablets {
           right: 0%;
         }
         @include mobile {
            right: 0%;
          }
    }
}

.sixth__container {
    padding-top: 4%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &>h2 {
        text-align: center;
        text-transform: uppercase;
        font-size: 3rem;
        color: $black;
        margin: 0% 0% 3%;
        position: relative;
        z-index: 1;
        @include mobile {
            font-size: 2.5rem;
        }
    }
}

.review {
    width: 100%;
    height:100%;
    display: flex;
    flex-direction:column;
    justify-content: space-around;
    overflow: hidden;

    &__area {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        list-style-type: none;
        padding-left: 0%;
        margin:0 auto;
        width:86%;
        height:63%;
        position: relative;
        
        @include mobile {
            margin-bottom: 5%;
            height:80%;
           
        }

    }

    &__block {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $light;
        background-image: url('../img/sixth/background2.png');
        background-repeat: no-repeat;
        background-position: right top;
        padding: 0% 2%;
        height:75%;
        width:100%;
        position: absolute;
        z-index: 1;
        display: none;

        &--active {
            display:flex;
            animation: slideshow 1.5s;
            @keyframes slideshow {
                0% { opacity: 0; }
                60% { opacity: 0.9; }
            }
        }
     
        &:before {
            content: url(../img/sixth/ellipse.png);
            position: absolute;
            top: 0%;
        }

        @include tablets {
            flex-direction: column;
            text-align: center;
            height:90%;
        }
    
        @include mobile {
            flex-direction: column;
            text-align: center;
            height:100%;
        }
    }

    &__image {
        margin-right: 3%;
        height: 85%;
        
        @include tablets {
            margin-right: 0%;
            height: 50%;
            margin-bottom:3%;
        }
    
        @include mobile {
            margin-right: 0%;
            height: 30%;
            margin-bottom:3%;
        }
    }
}

.review__content {

    &>h3 {
        font-size: 1.875rem;
        color: $black;
        margin: 0% 0% 3%;
    }

    &>p {
        font-size: 1rem;
        color: $grey;
        margin: 0% 0% 5%;
    }

    &>div {
        color: $grey;

    }
}

.clients {
    display: flex;
    justify-content:center;


    &__list {
        margin: 0%;
        padding-left: 0%;
        display: flex;
        justify-content: center;
        height:100%;
        width:30%;
    }

    &__item {
        list-style-type: none;
        margin-right: 1%;
        z-index: 2;
        display: flex;
        width:33%;
        height:100%;

        &:nth-last-child {
            margin-right: none;
        }

        &--active{
            border: 2px solid;
            border-color: $green;
            border-radius: 50%;
        }
    }

    &-image {
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }
}