
.sixth {
    @include size;
    position: relative;
    font-size: rem(18px);

    @include tablets {
       padding: 10%;
    }
    @include mobile {
       padding: 20%;
    }


    &:before {
        content: url(../img/sixth/background.png);
        position: absolute;
        bottom: -22%;
        z-index: 1;

        @include tablets {
            display: none;
        }
        @include mobile {
            display: none;
        }
    }

    &:after {
        content: url(../img/sixth/strawberry.png);
        position: absolute;
        right: 11%;
        top: 4%;
        @include tablets {
           right: 0%;
         }
         @include mobile {
            right: 0%;
          }
    }
}

.sixth__container {
    padding-top: 4%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &>h2 {
        text-align: center;
        text-transform: uppercase;
        font-size: rem(48px);
        color: $black;
        margin: 0% 0% 3%;
        position: relative;
        @include mobile {
            font-size: rem(40px)
        }
    }
}

.review {

    &__area {
        display: flex;
        align-items: center;
        list-style-type: none;
        padding-left: 0%;
        margin:0%;
        margin-bottom: 5%;

    }

    &__block {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $light;
        background-image: url('../img/sixth/background2.png');
        background-repeat: no-repeat;
        background-position: right top;
        padding: 5%;
        position: relative;

        &:before {
            content: url(../img/sixth/ellipse.png);
            position: absolute;
            top: 0%;
        }

        @include tablets {
            flex-direction: column;
            text-align: center;
            padding: 10% 4%;
        }
    
        @include mobile {
            flex-direction: column;
            text-align: center;
            padding: 10% 2%;
        }
    }


    &__image {
        margin-right: 3%;
        width: rem(254px);
        height: rem(260px);
        
        @include tablets {
            margin-right: 0%;
            width: rem(204px);
            height: rem(209px);
        }
    
        @include mobile {
            margin-right: 0%;
            width: rem(122px);
            height: rem(125px);
        }
    }
}

.review__content {
    width: rem(433px);
    height: rem(217px);

    &>h3 {
        font-size: rem(30px);
        color: $black;
        margin: 0% 0% 3%;
    }

    &>p {
        color: $grey;
        margin: 0% 0% 5%;
    }

    &>div {
        color: $grey;

    }
}

.clients {

    &__list {
        margin: 0%;
        padding-left: 0%;
        display: flex;
        justify-content: center;
    }

    &__item {
        list-style-type: none;
        margin-right: 1%;

        &:nth-last-child {
            margin-right: none;
        }
    }

    &-image {
        width: rem(65px);
        height: rem(65px);
        border-radius: 50%;
        border: rem(4px) solid;
        border-color: $green;
    }
}