
.sixth {
    @include size;
    position: relative;
    font-size: 1.125rem;

    // @include tablets {
    //    padding: 10%;
    // }
    // @include mobile {
    //    padding: 20%;
    // }

    &:before {
        content: url(../img/sixth/background.png);
        position: absolute;
        bottom: -22%;
        z-index: 1;

        @include tablets {
            display: none;
        }
        @include mobile {
            display: none;
        }
    }

    &:after {
        content: url(../img/sixth/strawberry.png);
        position: absolute;
        right: 11%;
        top: 4%;
        @include tablets {
           right: 0%;
         }
         @include mobile {
            right: 0%;
          }
    }
}

.sixth__container {
    padding-top: 4%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &>h2 {
        text-align: center;
        text-transform: uppercase;
        font-size: 3rem;
        color: $black;
        margin: 0% 0% 3%;
        position: relative;
        z-index: 1;
        @include mobile {
            font-size: 2.5rem;
        }
    }
}

.review {
    width: 100%;
    overflow: hidden;

    &__area {
        display: flex;
        align-items: center;
        justify-content: center;
        list-style-type: none;
        padding-left: 0%;
        margin:0%;
        margin-bottom: 5%;
        width:100%;

    }

    &__block {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $light;
        background-image: url('../img/sixth/background2.png');
        background-repeat: no-repeat;
        background-position: right top;
        padding: 7%;
        width:100%;
        position: relative;


        &:before {
            content: url(../img/sixth/ellipse.png);
            position: absolute;
            top: 0%;
        }

        @include tablets {
            flex-direction: column;
            text-align: center;
            padding: 10% 2%;
        }
    
        @include mobile {
            flex-direction: column;
            text-align: center;
            width: 20rem;
            padding: 10% 2%;
        }
    }


    &__image {
        margin-right: 3%;
        width: 42.33rem;
        height: 16.25rem;
        
        @include tablets {
            margin-right: 0%;
            width: 12.75rem;
            height: 13.0625rem;
            margin-bottom:3%;
        }
    
        @include mobile {
            margin-right: 0%;
            width: 7.625rem;
            height: 7.8125rem;
            margin-bottom:3%;
        }
    }
}

.review__content {

    &>h3 {
        font-size: 1.875rem;
        color: $black;
        margin: 0% 0% 3%;
    }

    &>p {
        color: $grey;
        margin: 0% 0% 5%;
    }

    &>div {
        color: $grey;

    }
}

.clients {

    &__list {
        margin: 0%;
        padding-left: 0%;
        display: flex;
        justify-content: center;
    }

    &__item {
        list-style-type: none;
        margin-right: 1%;
        z-index: 2;

        &:nth-last-child {
            margin-right: none;
        }
    }

    &-image {
        width: 4.0625rem;
        height: 4.0625rem;
        border-radius: 50%;
        border: 3px solid;
        border-color: $green;
    }
}