.third {
    @include size;
    background: $light;
}

.third__container {
    display: flex;
    align-items: center;
    justify-content: center;

    @include mobile {
        padding: 2%
    }
}

.slider-block {
    width: 85%;
    height: 90%;
    overflow: hidden;
}

.slider {
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
    transition: 1s linear;
    width: 200%;
    margin: 0;
    padding-left: 0;
    right: 0%;
    will-change: right;
}

.bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 65%;
    width: 100%;
    margin: 0 1%;
    transition: 0.5s linear;
    transform: scaleX(1);

    // @keyframes left {
    //     from {
    //       transform: translate3d(-100%, 0, 0);
    //     }

    //     to {
    //       transform: translate3d(0%, 0, 0);
    //     }
    // }
    //   @keyframes right{
    //       from {
    //         transform: translate3d(100%, 0, 0);
    //       }

    //       to {
    //         transform: translate3d(0%, 0, 0);
    //       }
    //   }

    @include tablets {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    @include mobile {
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        height: 90%;
    }
}

.image-block {
    display: flex;
    justify-content: center;
    position: relative;
    width: 48%;
    height: 90%;

    @include tablets {
        width: 40%;
        height: 45%;
    }

    @include mobile {
        width: 61%;
        height: 40%;
        margin-bottom: 0rem;
    }

    &:before {
        content: url(../img/third/leaf2.png);
        position: absolute;
        top: 16%;
        left: -1%;

        @include tablets {
            left: -13%;
        }

        @include mobile {
            top: 8%;
            left: -35%;
        }
    }

    &:after {
        content: url(../img/third/leaf1.png);
        position: absolute;
        bottom: 0%;
        right: 0%;

        @include tablets {
            bottom: 20%;
            right: -10%;
        }

        @include mobile {
            bottom: 0%;
            right: -20%;

        }
    }
}

.image {
    width: 85%;
    height: 85%;

    @include tablets {
        width: 100%;
        height: 80%;
    }

    @include mobile {
        width: 90%;
        height: 90%;
    }
}

.consist {
    position: absolute;
    top: -10%;
    right: 37%;

    @include tablets {
        top: 0%;
        right: 10%;
    }

    @include mobile {
        top: -4%;
        right: -2%;
    }
}

.about {
    width: 48%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include tablets {
        width: 69%;
        align-items: center;
        height: 45%;
        text-align: center;
    }

    @include mobile {
        width: 100%;
        align-items: center;
        height: 53%;
        text-align: center;
    }

    &>h1 {
        margin: 0;
        font-size: 2.25rem;
        text-transform: uppercase;
        line-height: 1;
        color: $dark;

        @include tablets {
            font-size: 2rem;
            text-align: center;
        }

        @include mobile {
            font-size: 2.142rem;
            text-align: center;
        }
    }

    &>p {
        margin: 0;
        font-size: 1.125rem;
        color: $grey;
        width: 90%;
    }
}



.details {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding-left: 0;
    list-style-type: none;
    width: 35%;
    color: $dark;

    &__item>h5 {
        margin: 0;
        font-weight: normal;
    }

    &__item>p {
        margin: 0;
        font-weight: bold;
    }

    @include tablets {
        text-align: left;
    }

    @include mobile {
        width: 50%;
        text-align: left;
    }

}

.buy {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    @include tablets {
        justify-content: center;
        width: 100%;
    }

    @include mobile {
        justify-content: center;
        width: 100%;
    }

    &>p {
        margin: 0;
        font-size: 3.75rem;
        text-transform: uppercase;
        font-weight: lighter;
        color: $dark;
        line-height: 1;
        margin-right: 4%;
        width: 53%;
    }
}

.buy__button {
    width: 9.75rem;
    height: 3.625rem;
    background-color: $green;
    border-radius: 2rem;
    color: $white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1rem;
    box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
    transition: 0.2s linear;

    &:hover {
        cursor: pointer;
        background: $dark;
    }

    &:focus {
        background: $dark;
    }
}

.button {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 5.625rem;
    height: 5.625rem;
    background-color: $blue;
    border-radius: 10%;
    font-size: 0.875rem;
    font-style: italic;
    text-transform: uppercase;
    color: $white;

    &:hover+.hide-table {
        display: flex;
    }

    &:focus+.hide-table {
        display: flex;
    }

    &__chocolate {
        width: 3.1875rem;
        height: 3.1875rem;
    }

    &>h5 {
        margin: 0;
    }

    &:hover {
        cursor: pointer;
    }

    @include mobile {
        width: 5rem;
        height: 5rem;
    }

}

.table {
    height: 20.5625rem;
    width: 16.875rem;
    border-radius: 1rem;
    background-color: $white;
    transition: 0.5s linear;
    padding: 2%;

    @include mobile {
        width: 12rem;
    }
}

.hide-table {
    position: absolute;
    left: 66%;
    top: 0%;
    border-left: 2rem solid transparent;
    display: none;

    @include tablets {
        left: -300%;
        border-right: 2rem solid transparent;
        border-left: none;
        z-index: 1;
    }

    @include mobile {
        left: -242%;
        border-right: 2rem solid transparent;
        border-left: none;
        z-index: 1;
    }
}

.table-svg {
    width: 2.1875rem;
    height: 2.1875rem;
}


.link-slide {
    display: flex;
    align-items: center;
    width: 4%;
    height: 10%;
}

.link-svg {
    height: 3.8125rem;
    width: 3.9375rem;
}

.link-icon {
    fill: $dark;
}