.modal {
    position: absolute;
    width:100%;
    height: 100%;
    background:  $dark;
    opacity: 0.9;
    z-index: 1;
    display:flex;
    justify-content: center;
    align-items: center;
    display: none;

    &__window{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 22rem;
        height: 10.75rem;
        background: $white;

        &>p{
            color: $black;
            font-size: 1.125rem;
            display:none;
        }
    }

    &__button {
        width: 9.75rem;
        height: 3.625rem;
        background: $green;
        border-radius: 3.125rem;
        color: white;
        font-size:1.1875rem;
        text-transform: uppercase;
    }

}

